<!DOCTYPE html>
<html>
	<head>
		<title>Joey Sewing Personal Project</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/sewing">sewing</a></li>
        		<li><a href="/embroidery">Embroidery</a></li>
        		<li><a href="/misc">misc</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:jojo.schelling@gmail.com">email</a></li>
        		<li><a href="https://github.com/gitgudjo">My github</a></li>
			</ul>
		</footer>
	</body>
</html>
