<!DOCTYPE html>
<html>
	<head>
        <style>
            body {
              padding: 25px;
              background-color: white;
              color: black;
            }
            
            .dark-mode {
              background-color: black;
              color: white;
            }
            
            </style>
            </head>
            <body>
            
            
            
            <button class="button" onclick="myFunction()">Toggle dark mode</button>
            
            <script>
            function myFunction() {
               var element = document.body;
               element.classList.toggle("dark-mode");
            }
            </script>
            
            </body>
		<title>Joey Sewing Personal Project</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">home</a></li>
	        	<li><a href="/sewing">sewing</a></li>
        		<li><a href="/embroidery">embroidery</a></li>
        		<li><a href="/other">other</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:jojo.schelling@gmail.com">email</a></li>
        		<li><a href="https://github.com/gitgudjo">my github</a></li>
			</ul>
		</footer>
	</body>
</html>
